# SMR Car Travels Business WhatsApp Contact Number
VITE_SMR_WHATSAPP_NUMBER=919989599621

# Google Apps Script Webhook URL for logging website bookings into Google Sheets
VITE_GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwxXwNGOc9Sk_EUCBXAaDgU3OY8MoJpxtBXgP5LmM9SPokbSY1HxjdmkNPASByqpUmfhQ/exec

